@import "tailwindcss";

:root {
  --background: #020309;
  --foreground: rgb(250, 241, 231);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #020309;
    --foreground: rgb(250, 241, 231);
  }
}

body {
  background: var(--background);
  color: var(--foreground) !important;
}

.container{
  @apply px-4 lg:px-0 w-full max-w-100 sm:max-w-150 md:max-w-187.5 lg:max-w-250 xl:max-w-300 2xl:max-w-325 mx-auto;
}